USE [master]
GO
/****** Object:  Database [Keyideas]    Script Date: 16-02-2021 10:53:00 ******/
CREATE DATABASE [Keyideas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Keyideas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Keyideas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Keyideas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Keyideas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Keyideas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Keyideas]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 16-02-2021 10:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Username] [nchar](30) NOT NULL,
	[Email] [nchar](100) NULL,
	[Password] [nchar](30) NULL,
	[FirstName] [nchar](10) NULL,
	[LastName] [nchar](10) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
